/*body{
		margin:0;
		padding:0;
		
background:yellow;

}
.slider {
	width:800px;
	height:400;
	background:url(1.jpg);
	margin: 100px auto;
	ani,ation:stide 20s infinite;
	}
	@keyframes slide
	{
	20%{background:url(1.jpg);
	}
	20%{background:url(2.jpg);
	}
	20%{background:url(3.jpg);
	
	}
	20%{background:url(4.jpg);
	
	}
	20%{background:url(5.jpg);
	
	}
	20%{background:url(6.jpg);
		*/
		/*font-face {
			font-family: titillium;
			src: url("../titillium.ttf");
		}
		{
			font-family:titillium;
			font-size:12pt;
		}*/
	
        body{

            /*margin-right: 900px;
            margin-left;: 900px*/
            /*background-image: url("2.jpg");
            background-repeat: no-repeat;*/
            /*background-position:right;*/
            /*margin-right: 900px;*/
            /*background-attachment: fixed;*/
        }
        p:hover{
            color: rgba(233, 13, 13, 0.932);
            
        }
        h1:hover{
            color:rgb(255, 136, 0)
        }
        h1{
            /*margin-right: 900px;*/
            font-size:  70px;
        }
        p{
            
            font-size:  40px;
        }
        image{
            margin-right: 900px;
            font-size:  10px;
        }
        #p01{
            position:left;
            margin-left: 000px;
            /*background-attachment: fixed ;*/
            font-size:10px;
        }
        *{
            box-sizing: border-box;
        }
        a{
            text-decoration: none;
            color: #333;
        }
        .wrapper{
            margin: 0 auto;
            width: 1000px;
            
        }
        header{
            border-bottom: 2px solid #eee;
        }header li{
            display: inline-block;
            vertical-align: top;
            position:relative;
        }
        header li a{
            display: block;
            padding: 20px;
        }
        header li a:hover{
            background-color: rgb(159, 172, 173);
            color: #fff;
        }
        .sous-menu{
            display: none;
            position:absolute;
            /*background-color: rgb(30, 176, 187);*/
            width: 200px;
        }
        header li:hover .sous-menu{
            display: block;
            
            
        }
        
        .sous-menu li {
            display: block;
        }
        .sous-menu li a{
            background-color: burlywood;
        }
        .sous-menu li:hover a {
            /*background: rgb(114, 109, 109);*/
            color: rgb(20, 20, 20);
        }
         
        
        